[Unit]
Description=Alacritty Daemon
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=alacritty --daemon
Restart=always

[Install]
WantedBy=graphical-session.target

