[Unit]
Description=Kitty daemon
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=kitty -1 --start-as hidden
Restart=always

[Install]
WantedBy=graphical-session.target

