[Unit]
Description=An idle & lock screen manager for Wayland
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=swayidle -w \
  timeout 300 'swaylock' \
  timeout 600 'systemctl suspend' \
  before-sleep 'swaylock' \
  lock 'swaylock' \
  unlock 'kill -s 1 $(pgrep swaylock)' \
  idlehint 300
Restart=always

[Install]
# use `systemctl --user add-wants niri.service <service>` instead if possible
WantedBy=graphical-session.target

