[Unit]
Description=A wallpaper daemon for Wayland
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=swaybg -m fill -i "%h/.local/share/backgrounds/arch.png"
Restart=on-failure

[Install]
# use `systemctl --user add-wants niri.service <service>` instead if possible
WantedBy=graphical-session.target

