[Unit]
Description=Swayidle Daemon
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target
ConditionEnvironment=XDG_SESSION_DESKTOP=sway

[Service]
ExecStart=swayidle -w \
  timeout 300 'swaylock' \
  timeout 600 'systemctl suspend' \
  before-sleep 'swaylock' \
  lock 'swaylock' \
  unlock 'kill -s 1 $(pgrep swaylock)' \
  idlehint 300
Restart=always

[Install]
WantedBy=graphical-session.target

